* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  font-weight: 300;
}

a:visited{
  text-decoration: none;
}

#stickyheader {
  display: flex;
  position: sticky;
  top: 0;
  background-color: grey;
  z-index: 20;
  justify-content: space-around;
  height: 7vh;
  align-items: center;
}

#stickyheader p{
    font-size: max(1.7vh,2vw);
    letter-spacin: 0px;
    font-weight: 500;
    color: black;
}

#stickyheader a{
    font-size: max(1.7vh,2vw);
    letter-spacin: 0px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

#headerbanner {
  background-image: url(../ressources/images/FGBanner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  padding: 150px 20px;
}

.title {
  text-align: center;
  font-family: "Michroma", sans-serif;
  font-size: 70px;
  font-weight: bold;
}

.contentsection {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
}

.contentsection img {
  flex: 0 0 auto; 
  width: 750px;
  max-width: 100%;
  height: auto !important;
  object-fit: cover;
  margin-left: 50px;
  margin-right: 50px ;
}

.textwrapper {
  display: flex;
  flex:  1 400px; 
  flex-flow: column;
}

.textwrapper p {
  width: 100%;
  line-height: 1.6;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.textwrapper table{
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.section {
  padding-left: 50px;
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 50px;
}

#odd{
  background-color: #DACABC;
  color: black;
}

#even{
  background-color: #894141;
}

#odd .textwrapper {
  order: 1;
}

#odd img {
  order: 2;
}

#even img {
  order: 1;
}

#even .textwrapper {
  order: 2;
}

.sectiontitle {
  font-family: "Michroma", sans-serif;
  font-size: max(2.5vh, 3vw);
  margin-bottom: 25px;
}


footer {
    display: flex;
    flex-flow: column;
    background-color: grey;
    justify-content: flex-end;
    align-items: center;
}

#imageslink {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer img {
    max-width: 200px;
    padding: 50px;
    padding-bottom: 10px;
}