
* {
  margin: 0;
  padding: 0;
}

#nameflexbox {
    display: flex;
    justify-content: center;
    background-image: url("https://f.hellowork.com/blogdumoderateur/2013/02/nyan-cat-gif-1.gif");
    height:70vh;
    width:100vw;
    top:0;
    position:fixed;
    z-index:-50;
}

#nametext{
    align-self:center;
    font-size: 5vw;
}

#presentationbanner {
    display:flex;
    height: 50vh;
    background-color: #db6837;
    margin-top:70vh;
    flex-flow:row;
}

#bannercontent{
    display:flex
}
