
* {
  margin: 0;
  padding: 0;
}

body{
    
}


#nameflexbox {
    display: flex;
    justify-content: center;
    background-image: url("https://f.hellowork.com/blogdumoderateur/2013/02/nyan-cat-gif-1.gif");
    height:70vh;
    width:100vw;
    top:0;
    position:fixed;
    z-index:-50;
}

#nametext{
    align-self:center;
    font-size: 5vw;
}

#presentationbanner {
    display:flex;
    background-color: #db6837;
    margin-top:70vh;
    flex-flow:column;
}


#bannercontent {
    display: flex;
    }
#bannertitle{
    align-self:center;
    font-size:70px;
    font-weight:bold;
    margin-top : 25px;
    margin-bottom:25px;
}



#bannercontent img{
    width:15vw;
    min-width:350px;
    margin-left:50px;
}

#bannercontent p{
    margin-left:50px;
    font-size:30px;
}

.title{
    justify-self:center;
}

#projectcontainer{
    background-color: #0a254f;

}

#projecttitle{
    font-size: 2vw;
}
#mainprojectcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.projectthumbnailtitle{

}


.project{
    display: flex;
    flex-flow: column;
    border-color: yellow;
    border-style: solid;
    border-width: 5px;
    position: relative;
    margin: 3vw;
}
